name: Build and Push Website Image

on:
  push:
    branches: ["main"]
    paths:
      - "src/**"
      - "Dockerfile"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push docker image with commit hash
        run: |
          IMAGE_TAG=${{ github.sha }}
          echo "Building Docker image with tag: $IMAGE_TAG"
          docker build --no-cache -t ghcr.io/carqeuo/website:$IMAGE_TAG .
          docker push ghcr.io/carqeuo/website:$IMAGE_TAG

      - name: Update k8s Deployment with new image tag
        run: |
          IMAGE_TAG=${{ github.sha }}
          echo "Updating k8s/deployment.yaml to use image tag: $IMAGE_TAG"
          sed -i "s|image: ghcr.io/carqeuo/website:.*|image: ghcr.io/carqeuo/website:$IMAGE_TAG|" k8s/deployment.yaml
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "Update Deployment image to $IMAGE_TAG"
          git push
